<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Flyers App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/simplex/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#log-reg" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Rutgers Flyers</a>
      </div>
      <div class="collapse navbar-collapse" id="log-reg">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button id="login-button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>
          </li>
          <li>
            <button id="register-button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#register-modal">Register</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- LOGIN MODAL -->
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Log In</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="login_email" placeholder="Enter your email" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="login_password" placeholder="Enter your password" />
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- REGISTER MODAL -->
  <div id="register-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Register</h3>
          <form action="/register" method="POST">
            <div class="form-group">
              <input id="reg-fname" class="form-control" type="text" name="f_name" placeholder="Enter your first name" />
            </div>
            <div class="form-group">
              <input id="reg-lname" class="form-control" type="text" name="l_name" placeholder="Enter your last name"/>
            </div>
            <div class="form-group">
              <input id="reg-email" class="form-control" type="text" name="email" placeholder="Enter your email" />
            </div>
            <div class="form-group">
              <input id="reg-username" class="form-control" type="text" name="username" placeholder="Choose a username" />
            </div>
            <div class="form-group">
              <input id="reg-password" class="form-control" type="password" name="password" placeholder="Enter a password" />
            </div>
            <div class="form-group">
              <input id="reg-repass" class="form-control" type="password" placeholder="Reenter your password" />
            </div>
            <p class="reg-error"></p>
            <button type="submit" class="btn btn-primary reg-button" disabled>Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">      

    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>RUTGERS FLYERS</h1>
      </div>
    </div>

    {{{body}}}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../static/js/googlePlaces.js"></script>
  <script type="text/javascript" src="/static/js/functionality.js"></script>
</body>
</html>