<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Flyers App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/simplex/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <meta charset="utf-8">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#log-reg" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Rutgers Flyers</a>
      </div>
      <div class="collapse navbar-collapse" id="log-reg">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button id="login-button" class="btn btn-default nav-buttons" data-toggle="modal" data-target="#login-modal">Login</button>
          </li>
          <li>
            <button id="register-button" class="btn btn-default nav-buttons" data-toggle="modal" data-target="#register-modal">Register</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- LOGIN MODAL -->
  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Log In</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="login_email" placeholder="Enter your email" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="login_password" placeholder="Enter your password" />
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- REGISTER MODAL -->
  <div id="register-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>Register</h3>
          <form action="/register" method="POST">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-fname">First Name</label>
              <input id="reg-fname" class="form-control" type="text" name="f_name" placeholder="Enter your first name" />
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-fname">Last Name</label>
              <input id="reg-lname" class="form-control" type="text" name="l_name" placeholder="Enter your last name"/>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-email">Email</label>
              <input id="reg-email" class="form-control" type="text" name="email" placeholder="Enter your email" />
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-username">Username</label>
              <input id="reg-username" class="form-control" type="text" name="username" placeholder="Choose a username" />
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-password">Password</label>
              <input id="reg-password" class="form-control" type="password" name="password" placeholder="Enter a password" />
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <label for="reg-repass">Confirm your password</label>
              <input id="reg-repass" class="form-control" type="password" placeholder="Reenter your password" />
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p class="reg-error"></p>
            </div>
            <button type="submit" class="btn btn-primary reg-button" disabled>Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Reviews Modal -->
<div id="reviewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Google Reviews</h4>
      </div>
      <div class="modal-body review-body">

      </div>
      <div class="modal-footer">
        <div class="col-xs-12 user-review-click-area text-center">
          <a class="user-review-toggle" href="#">Click to add a review</a>
        </div>
        <div class="row user-review-area">
          <div class="col-xs-12 text-right">
            <form>
              <textarea class="user-review-entry"></textarea>
              <button type="submit" class="btn btn-primary review-submit-button">Submit Review</button>
            </form>
          </div>
        </div>
        <div class="col-xs-12">
          <button type="button" class="btn btn-default btn-block review-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>


  <!-- More Info Modal -->
  <div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row phone-row">
            <div class="col-xs-1 phone-icon-col">
              
            </div>
            <div class="col-xs-4 phone-number-col">
              
            </div>
            <div class="col-xs-1 price-icon-col">
              
            </div>
            <div class="col-xs-5 price-col">
              
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <table class="table">
                <thead>
                  <tr>
                    <th><h4>Hours</h4></th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="container">      

    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>RUTGERS FLYERS</h1>
      </div>
    </div>

    {{{body}}}
  </div>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"> </script>
  <script type="text/javascript" src="../static/js/functionality.js"></script>
</body>
</html>