<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Flyers App</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>RUTGERS FLYERS</h1>
      {{{body}}}
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/js/googlePlaces.js"></script>

</body>
</html>