<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Flyers App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
</head>
<body>
  <div class="row small-6 small-centered">
    input[type='text' placeholder='']
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>
</body>
</html>