<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1 class="title">Food</h1>
    </div>
  </div>
  <div class="row main-row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 main-column">
    </div>
  </div>
</div>






  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"> </script>
  <script type="text/javascript" src="/static/js/googlePlaces.js"></script>
  <script type="text/javascript" src="/static/js/food.js"></script>