<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/food"><img src="../static/pics/food.jpg" class="img-responsive"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/drink"><img src="../static/pics/drink.jpg" class="img-responsive"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/study"><img src="../static/pics/study.jpg" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>