<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="title">Food</h1>
		</div>
	</div>
	<div class="row main-row">
		<div class="col-xs-10 col-xs-offset-1 main-column">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row ">
						<div class="col-xs-4">
								<img src="http://img2.10bestmedia.com/Images/Photos/261521/Restaurant---Cristal-Room--J-r-me-Mondi-re_54_990x660.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-4">
							<div class="row">
								<div class="col-xs-12">
									<h2>Frog and the Peach</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<h4 class="text-muted">123 George St. New Brunswick, NJ</h4>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="row">
								<div class="col-xs-2 col-xs-offset-3">
									<i class="fa fa-star-o fa-3x"></i>
								</div>
								<div class="col-xs-7">
									<h2>3.8 Stars</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5 col-xs-offset-4">
									<h4 class="open-now text-center">Open Now</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
