// MAIN PAGE

.button-row {
  margin-top: 20px;
}

.nav-buttons{
  margin-left: 20px;
  font-size: 1.2em;
  background: $secondary-rutgers-color;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 1.2s;
}

.nav-buttons:hover{
  background: lighten($secondary-rutgers-color, 12%);
  text-shadow: 0 0 5px #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  padding: 7px 0;
}

.phone-row {
  margin-bottom: 10px;
}

.home-link {
  opacity: 0.5;
}

.home-link:hover {
  opacity: 1;
}

.pic-heading {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 35%;
  color: white;
  background: rgba(0,0,0,0.35);
  padding: 10px;
}

.heading-link:hover ~ a > .home-link {
  opacity: 1;
}

// USER REVIEW MODAL
.user-review-toggle{
  font-size: 1.6em;
}

.user-review-area{
  border-bottom: 1px solid black;
  display: none;
}

.review-close{
  margin-top: 20px;
}

.user-review-entry{
  display: block;
  width: 100%;
  resize: none;
  margin: 10px 0;
  height: 120px;
}

.review-submit-button{
  margin-bottom: 15px;
}